.addcourse-bg {
  min-height: 100vh;
  background: #f5f7fa;
  padding-bottom: 40px;
}

.form-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  width: 70%;
  margin: auto;
  border-left: 6px solid #3b82f6;
}

.form-input {
  border-radius: 10px;
  border: 1px solid #d1d5db;
  padding: 10px;
}

.form-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 4px #93c5fd;
}


.submit-btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}
